@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Helvetica;
}

body{
    margin: 0;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code{
    font-family: Helvetica;
}